.banner {
    background-image: url(../public/assets/images/logoWhite.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 500% 120%;
}

@screen sm {
    .banner {
        background-size: 240% 120%;
    }
}

@screen md {
    .banner {
        background-size: 195% 110%;
        background-position-y: 150%;
    }
}

@screen lg {
    .banner {
        background-size: 180% 120%;
        background-position-y: 50%;
    }
}


    .iconMac {
        height: auto;
        width: auto;
    }
    @media (min-width: 320px) {
        .iconMac {
            height: 10rem;
        }
    }
    @media (min-width: 768px) {
        .iconMac {
            height: 18rem;
        }
    }

    @media (min-width: 1024px) {
        .iconMac {
            height: 20rem;
        }
    }


    .iconMacPro {
        position: relative;
        
    }

    @media (min-width: 320px) {
        .iconMacPro {
        height:25rem;
        width: auto;
        }
    }
    @media (min-width: 768px) {
        .iconMacPro {
            height:21rem;
            width: auto;
            left:75px;
            
        }
    }

    @media (min-width: 1440px) {
        .iconMacPro {
            height:25rem;
            width: auto;
            left:165px; 
        }
    }

    .logo{
        height:2rem;
        width:auto;
        z-index:10;
    }
    @media (min-width: 320px) {
        .logo {
            height:2rem;
        }
    }
    @media (min-width: 768px) {
        .logo {
            height:5rem;
            padding-left: 3rem;
        }
    }

    @media (min-width: 1024px) {
        .logo {
            height:5rem;
            padding-left: 3rem;
        }
    }

    .darkTriangle{
        background-color: transparent;
        height:0rem;
        width:0rem;
        z-index:2;
        position: absolute; 
        bottom: 0;
        right:0;
    }

    @media (min-width: 320px) {
        .darkTriangle {
            border-bottom: 200px solid #111C4E;
            border-left: 200px solid transparent;
        }
    }

    @media (min-width: 768px) {
        .darkTriangle {
            border-bottom: 450px solid #111C4E;
            border-left: 600px solid transparent;
        }
    }

    .lightTriangle{
        background-color: transparent;
        height:0;
        width:0;
        z-index:1;
        position:absolute;
        top:0;
        right:0;
    }

    @media (min-width: 320px) {
        .lightTriangle {
            border-top: 200px solid #3CBFF0;
            border-left: 200px solid transparent;
        }
    }

    @media (min-width: 768px) {
        .lightTriangle {
            border-top: 400px solid #3CBFF0;
            border-left: 600px solid transparent;
        }
    }

    .logoBackground{
        background-color: #2558A3;
        position: relative;
    }

    .partnerLogo{
        height:8em;
        width: auto;
    }


    @media (min-width: 320px) {
        .partnerLogo {
            height:6rem;
        }
    }

    @media (min-width: 768px) {
        .partnerLogo {
            height:6rem;
        }
    }