@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Root styles */

/* Page progress bar */
@import '~nprogress/nprogress.css';

#nprogress .bar {
    background: #1ca8e1;
}

#nprogress .peg {
    box-shadow: 0 0 10px #1ca8e1, 0 0 5px #1ca8e1;
}

#nprogress .spinner {
    top: 3rem;
}

#nprogress .spinner-icon {

    border-top-color: #1ca8e1;
    border-left-color: #1ca8e1;
}

@media (max-width: 30rem) {

    #nprogress .spinner {
        visibility: hidden;
    }
}